asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
coverage==7.11.3
Django==5.2.8
Faker==12.0.1
idna==3.7
iniconfig==2.3.0
mixer==7.2.2
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.0
pytest-cov==7.0.0
pytest-django==4.11.1
python-dateutil==2.9.0.post0
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
stripe==9.5.0
typing_extensions==4.11.0
urllib3==2.2.1
